.checkboxes label,
.radios label {
    display: block;
    cursor: pointer;
    line-height: 20px;
    padding-bottom: 7px;
    font-weight: 300;
}

.radios {
    padding-top: 18px;
}

.label_check input,
.label_radio input {
    margin-right: 5px;
}

.has-js .label_check,
.has-js .label_radio {
    padding-left: 34px;
}

.has-js .label_radio {
    background: url(../images/radio/radio-off.png) no-repeat;
}

.has-js label.r_on {
    background: url(../images/radio/radio-on.png) no-repeat;
}

.has-js .label_check {
    background: url(../images/checkbox/check-off.png) no-repeat;
}

.has-js label.c_on {
    background: url(../images/checkbox/check-on.png) no-repeat;
}

.has-js .label_check input,
.has-js .label_radio input {
    position: absolute;
    left: -9999px;
}